{% extends '../base.html' %} 
{% block content %}
<style>
  /* Set New Password Styles */
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    max-width: 300px;
    margin: 0 auto;
  }

  label {
    display: block;
    margin-top: 10px;
  }

  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }

  button[type="submit"]:hover {
    background-color: #0056b3;
  }
</style>

<h2>Set New Password</h2>
<form method="post">
  {% csrf_token %}
  <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label_tag }}</label>
  {{ form.new_password1 }}
  <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label_tag }}</label>
  {{ form.new_password2 }}
  <button type="submit">Set New Password</button>
</form>
{% endblock %}
