{% extends '../base.html' %} 
{% block content %}
<style>
  /* Reset Password Styles */
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    text-align: center;
    margin-top: 20px;
  }

  /* Form Styles */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }

  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }
</style>

<h2>Reset Password</h2>
<p>Enter your email address below to receive a password reset link:</p>
<form method="post">
  {% csrf_token %}
  {{ form.email.label_tag }} {{ form.email }}
  <button type="submit">Reset Password</button>
</form>
{% endblock %}
