{% extends '../base.html' %} {% block content %}
<style>
  /* Form Styles */
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  form button[type="submit"]:hover {
    background-color: #0056b3;
  }

  a {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    text-decoration: none;
  }
</style>
<h2 style="display: flex; justify-content: center; align-items: center">Create Task</h2>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Create Task</button>
</form>
<a href="{% url 'task_list' %}">Back to Task List</a>
{% endblock %}
