{% extends '../base.html' %} {% block content %}
<h2>Task Details</h2>
{% for photo in task.task_photos.all %}
<img src="{{ MEDIA_URL }}{{ photo.image.url }}" alt="Task Photo" />
{% endfor %}
<p>Title: {{ task.title }}</p>
<p>Description: {{ task.description }}</p>
<p>Due Date: {{ task.due_date }}</p>
<p>Priority: {{ task.priority }}</p>
<p>
  Status: {% if task.is_completed %}Completed{% else %}Incomplete{% endif %}
</p>
<a href="{% url 'task_update' task.id %}">Edit Task</a>
<a href="{% url 'task_delete' task.id %}">Delete Task</a>
<a href="{% url 'task_list' %}">Back to Task List</a>
{% endblock %}
